<!DOCTYPE html>
<html>
<head>
   <title><%= title %></title>

   <% include ../partials/header.ejs %>

</head>
<body>

   <% include ../partials/nav.ejs %>

   <div class="container">
      <div class="row">

         <% include ../partials/sidebar.ejs %>

         <div class="main_col col-md" role="main">
            <div class="row">
               <h1 class="col-12"><%= title %></h1>
            </div>
            <div class="clearfix">&nbsp;</div>

            <div class="row">
               <div class="col-12">
                  <button class="btn btn-sm btn-outline-secondary" type="button" id="edit_btn">
                     Edit User
                  </button>
               </div>
            </div>
            <div class="clearfix">&nbsp;</div>
            <form method="post" action=<%= "/admin/user/" + user.id + "/edit" %>>
               <div class="form-row">
                  <div class="col-md-6 mb-3">
                     <label for="first_name">First Name</label>
                     <input type="text" class="form-control-plaintext editable" name="first_name" id="first_name" maxlength="30" value=<%= user.first_name %> required readonly>
                  </div>
                  <div class="col-md-6 mb-3">
                     <label for="last_name">Last Name</label>
                     <input type="text" class="form-control-plaintext editable" name="last_name" id="last_name" maxlength="30" value=<%= user.last_name %> required readonly>
                  </div>
               </div>
               <div class="form-row">
                  <div class="col-md-6 mb-3">
                     <label for="email">Email</label>
                     <input type="email" class="form-control-plaintext editable" name="email" id="email" maxlength="30" value=<%= user.email %> required readonly>
                  </div>
                  <div class="col-md-6 mb-3">
                     <label for="username">Username</label>
                     <input type="text" class="form-control-plaintext editable" name="username" id="username" maxlength="30" value=<%= user.username %> required readonly>
                  </div>
               </div>
               <button type="submit" class="btn btn-primary" id="save_edits" style="display: none;">Save</button>
            </form>
            <div class="clearfix">&nbsp;</div>

            
            <br />
         </div>
      </div>
   </div>
   
   <script src="/scripts/model_viewer_controller.js"></script>
</body>
</html>