<!DOCTYPE html>
<html>
<head>
   <title><%= title %></title>

   <% include ../partials/header.ejs %>

</head>
<body>

   <% include ../partials/nav.ejs %>

   <div class="container">
      <div class="row">

         <% include ../partials/sidebar.ejs %>

         <div class="main_col col-md" role="main">
            <div class="row">
               <h1 class="col-12"><%= title %></h1>
            </div>
            <div class="clearfix">&nbsp;</div>

            <div class="row">
               <div class="col-12">
                  <button class="btn btn-sm btn-outline-secondary" type="button" id="edit_btn">
                     Edit Rental
                  </button>
               </div>
            </div>
            <div class="clearfix">&nbsp;</div>
            <form method="post" action=<%= "/admin/rental/" + rental.id + "/edit" %>>
               <div class="form-row">
                  <div class="col-md-6 mb-3">
                     <label for="display_name">"Name"</label>
                     <input type="text" class="form-control-plaintext editable" name="display_name" id="display_name" maxlength="30" value=<%= rental.display_name %> required readonly>
                  </div>
                  <div class="col-md-6 mb-3">
                     <label for="apt_number">Number</label>
                     <input type="text" class="form-control-plaintext editable" name="apt_number" id="apt_number" maxlength="6" value=<%= rental.apt_number %> readonly>
                  </div>
               </div>
               <div class="form-row">
                  <div class="col-md-6 mb-3">
                     <label for="description">Description</label>
                     <input type="text" class="form-control-plaintext editable" name="description" id="description" maxlength="100" value=<%= rental.description %> required readonly>
                  </div>
                  <div class="col-md-6 mb-3">
                     <label for="rate">Monthly Rate</label>
                     <input type="text" class="form-control-plaintext editable" name="rate" id="rate" maxlength="6" value=<%= rental.rate %> required readonly>
                  </div>
               </div>
               <div class="form-group">
                  <label for="rental_id">Rental</label>
                  <select class="custom-select mb-3 form-control-plaintext editable" name="unit_id" id="unit_id" required readonly>
                     
                     <% units.forEach(function(u) { %>
                        <% if (u.id === unit.id) { %>
                        <option value=<%= u.id %> selected><%= u.street_address %></option>
                        <% } else { %>
                        <option value=<%= u.id %>><%= u.street_address %></option>
                        <% } %>                     
                     <% }); %>

                  </select>
               </div>
               <div class="form-row">
                  <div class="col-md-6 mb-3">
                     <label for="created_on">Created On</label>
                     <input type="text" class="form-control-plaintext" name="created_on" id="created_on" maxlength="30" value=<%= rental.created_on.toLocaleDateString() %> required readonly>
                  </div>
                  <div class="col-md-6 mb-3">
                     <label for="created_by">Created By</label>
                     <input type="text" class="form-control-plaintext" name="created_by" id="created_by" maxlength="30" value=<%= created_by.username %> required readonly>
                  </div>
               </div>

               <% if (rental.updated_on) { %>
               <div class="form-row">
                  <div class="col-md-6 mb-3">
                     <label for="updated_on">Updated On</label>
                     <input type="text" class="form-control-plaintext" name="updated_on" id="updated_on" maxlength="30" value=<%= rental.updated_on.toLocaleDateString() %> required readonly>
                  </div>
                  <div class="col-md-6 mb-3">
                     <label for="updated_by">Updated By</label>
                     <input type="text" class="form-control-plaintext" name="updated_by" id="updated_by" maxlength="30" value=<%= updated_by.username %> required readonly>
                  </div>
               </div>
               <% } %>

               <button type="submit" class="btn btn-primary" id="save_edits" style="display: none;">Save</button>
            </form>
            <div class="clearfix">&nbsp;</div>

            
            <br />
         </div>
      </div>
   </div>

   <script src="/scripts/model_viewer_controller.js"></script>
</body>
</html>