<!DOCTYPE html>
<html>
<head>
   <title><%= title %></title>

   <% include ../partials/header.ejs %>

</head>
<body>

   <% include ../partials/nav.ejs %>

   <div class="container">
      <div class="row">

         <% include ../partials/sidebar.ejs %>

         <div class="main_col col-md" role="main">
            <div class="row">
               <h1 class="col-12"><%= title %></h1>
            </div>
            <div class="clearfix">&nbsp;</div>

            <div class="row">
               <div class="col-12">
                  <button class="btn btn-sm btn-outline-secondary" type="button" id="edit_btn">
                     Edit Tenant
                  </button>
               </div>
            </div>
            <div class="clearfix">&nbsp;</div>
            <form method="post" action=<%= "/admin/tenant/" + tenant.id + "/edit" %>>
               <div class="form-row">
                  <div class="col-md-6 mb-3">
                     <label for="first_name">First Name</label>
                     <input type="text" class="form-control-plaintext editable" name="first_name" id="first_name" maxlength="30" value=<%= tenant.first_name %> required readonly>
                  </div>
                  <div class="col-md-6 mb-3">
                     <label for="last_name">Last Name</label>
                     <input type="text" class="form-control-plaintext editable" name="last_name" id="last_name" maxlength="30" value=<%= tenant.last_name %> required readonly>
                  </div>
               </div>
               <div class="form-row">
                  <div class="col-md-6 mb-3">
                     <label for="email">Email</label>
                     <input type="email" class="form-control-plaintext editable" name="email" id="email" maxlength="30" value=<%= tenant.email %> required readonly>
                  </div>
                  <div class="col-md-6 mb-3">
                     <label for="phone_number">Phone Number</label>
                     <input type="text" class="form-control-plaintext editable" name="phone_number" id="phone_number" maxlength="12" value=<%= tenant.phone_number %> required readonly>
                  </div>
               </div>
               <div class="form-row">
                  <div class="col-md-6 mb-3">
                     <label for="current">Current?</label>
                     <input type="text" class="form-control-plaintext" name="current" id="current" maxlength="30" value=<%= tenant.current ? "Yes" : "No" %> required readonly>
                  </div>
                  <div class="col-md-6 mb-3">
                     <label for="evicted">Evicted?</label>
                     <input type="text" class="form-control-plaintext" name="evicted" id="evicted" maxlength="30" value=<%= tenant.evicted ? "Yes" : "No" %> required readonly>
                  </div>
               </div>
               <div class="form-group">
                  <label for="rental_id">Rental</label>
                  <select class="custom-select mb-3 form-control-plaintext editable" name="rental_id" id="rental_id" required readonly>

                     <% rentals.forEach(function(r) { %>
                        <% if (r.id === tenant.rental_id) { %>
                        <option value=<%= r.id %> selected><%= r.display_name %></option>
                        <% } else { %>
                        <option value=<%= r.id %>><%= r.display_name %></option>
                        <% } %>
                     <% }); %>

                  </select>
               </div>
               <div class="form-row">
                  <div class="col-md-6 mb-3">
                     <label for="created_on">Created On</label>
                     <input type="text" class="form-control-plaintext" name="created_on" id="created_on" maxlength="30" value=<%= tenant.created_on.toLocaleDateString() %> required readonly>
                  </div>
                  <div class="col-md-6 mb-3">
                     <label for="created_by">Created By</label>
                     <input type="text" class="form-control-plaintext" name="created_by" id="created_by" maxlength="30" value=<%= created_by.username %> required readonly>
                  </div>
               </div>

               <% if (tenant.updated_on) { %>
               <div class="form-row">
                  <div class="col-md-6 mb-3">
                     <label for="updated_on">Updated On</label>
                     <input type="text" class="form-control-plaintext" name="updated_on" id="updated_on" maxlength="30" value=<%= tenant.updated_on.toLocaleDateString() %> required readonly>
                  </div>
                  <div class="col-md-6 mb-3">
                     <label for="updated_by">Updated By</label>
                     <input type="text" class="form-control-plaintext" name="updated_by" id="updated_by" maxlength="30" value=<%= updated_by.username %> required readonly>
                  </div>
               </div>
               <% } %>

               <button type="submit" class="btn btn-primary" id="save_edits" style="display: none;">Save</button>
            </form>
            <div class="clearfix">&nbsp;</div>

            
            <br />
         </div>
      </div>
   </div>

   <script src="/scripts/model_viewer_controller.js"></script>
</body>
</html>