<!DOCTYPE html>
<html>
<head>
   <title><%= title %></title>

   <% include ../partials/header.ejs %>

</head>
<body>

   <% include ../partials/nav.ejs %>

   <div class="container">
      <div class="row">

         <% include ../partials/sidebar.ejs %>

         <div class="main_col col-md" role="main">
            <div class="row">
               <h1 class="col-12"><%= title %></h1>
            </div>
            <div class="clearfix">&nbsp;</div>

            <div class="row">
               <div class="col-12">
                  <button class="btn btn-outline-secondary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                     Create New Unit
                  </button>
               </div>
            </div>
            <div class="collapse" id="collapseExample">
               <div class="clearfix">&nbsp;</div>
               <form method="post" action="/admin/unit">
                  <div class="form-row">
                     <div class="col-md-6 mb-3">
                        <label for="street_address">Street Address</label>
                        <input type="text" class="form-control" placeholder="Street Address" name="street_address" id="street_address" maxlength="30" required>
                     </div>
                     <div class="col-md-6 mb-3">
                        <label for="city">City</label>
                        <input type="text" class="form-control" placeholder="City" name="city" id="city" maxlength="30">
                     </div>
                  </div>
                  <div class="form-row">
                     <div class="col-md-6 mb-3">
                        <label for="state">State</label>
                        <input type="text" class="form-control" placeholder="XX" name="state" id="state" maxlength="2" required>
                     </div>
                     <div class="col-md-6 mb-3">
                        <label for="zip_code">Zip Code</label>
                        <input type="text" class="form-control" placeholder="XXXXX" name="zip_code" id="zip_code" maxlength="5" required>
                     </div>
                  </div>
                  <div class="form-group">
                     <select class="custom-select mb-3" name="landlord_id" id="landlord_id" required>
                        <option selected>Landlord</option>

                        <% landlords.forEach(function(landlord) { %>
                        <option value=<%= landlord.id %>><%= landlord.email %></option>
                        <% }); %>

                     </select>
                  </div>
                  <button type="submit" class="btn btn-primary">Create</button>
               </form>
            </div>
            <div class="clearfix">&nbsp;</div>

            <div class="row">

               <% if (units) { %>
               <div class="col-12 list-group">
                  <div class="list-group-item list-group-item-dark header">
                     <div class="row">
                        <div class="col">Street Address</div> 
                        <div class="col">City</div> 
                     </div>                                    
                  </div>
                        
                  <% units.forEach(function(unit) { %>
                  <a href=<%= "/admin/unit/" +  unit.id %> class="list-group-item list-group-item-action">
                     <div class="row">
                        <div class="col"><%= unit.street_address %></div> 
                        <div class="col"><%= unit.city %></div> 
                     </div>                                   
                  </a>
                  <% }); %>
                        
               </div>
               <% } else { %>
               <div class="col-12"><div class="row">No units to display.</div></div>
               <% } %>

            </div>
            <br />
         </div>
      </div>
   </div>

</body>
</html>